# Dependencies
/vendor/

# Composer lock
composer.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# PHPUnit
.phpunit.result.cache

# Coverage
coverage/

# Samples
strings.txt